<% @spaces.each do |space| %>
    <span id="space_container">
      <br />
        <%= space.property_name %>
        <br />
        <%= space.property_description %>
        <br />
        <%= space.get_formatted_price %>
        <br />
        <a href= "mailto:<%= space.property_owner.email %>"><%= space.property_owner.email %> </a>
    </span>
<% end %>
<form action="/space/add">
  <input type="submit" value="Add a space" />
</form>
