<% @spaces.each do |space| %>
    <span id="space_container">
      <br />
        <%= space.property_name %>
        <br />
        <%= space.property_description %>
        <br />
        <%= space.get_formatted_price %>
        <br />
        <%= space.property_owner.email %>
        <form action="/spaces/book/<%=space.id%>">
          <input type="submit" name="Book <%= space.property_name %>" value="Book this place" />
        </form>
    </span>
<% end %>
<form action="/space/add">
  <input type="submit" value="Add a space" />
</form>
