<div id='spaces_page'>

<div id='spaces_page_wrapper'>
  <div id="spaces_title_container">
    <form action="/space/add">
      <input type="submit" value="Add a space" />
    </form>
  </div>
  
  <div id="spaces_box">
    <% @spaces.each do |space| %>
        <div id="space_container">
          <br />
            <%= space.property_name %>
            <br />
            <%= space.property_description %>
            <br />
            <%= space.get_formatted_price %>
            <br />
            <a href ="mailto: <%= space.property_owner.email %>"><%= space.property_owner.email %> </a>
        </div>
    <% end %>
  </div>
</div>
</div>
