<div id='spaces_page'>

<div id='spaces_page_wrapper'>
  <div id="spaces_title_container">
    <form action="/space/add">
      <input type="submit" value="Add a space" />
    </form>
  </div>
  
  <div id="spaces_box">
    <% @spaces.each do |space| %>
        <div id="space_container">
          <div id='space_title_container'>
            <div id='property_name'>
                <%= space.property_name %>
                <%= space.get_formatted_price %>
            </div>
            <div id="email">
              <a href ="mailto: <%= space.property_owner.email %>"><%= space.property_owner.email %> </a>
            </div>
          </div>
          <div id='space_description_container'>
          <%= space.property_description %>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
